@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fira Code";
  src: local("Fira Code"), url("/fira-code-variable.ttf") format("truetype");
  font-display: swap;
}

:root {
  --background-color: #ffffff;
  --foreground-color: #010101;
  --active-color: #000000;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background-color: #13161f;
    --foreground-color: #dadada;
    --active-color: #ffffff;
  }
}

body {
  @apply antialiased;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: "Fira Code", monospace;
  margin: 2rem;
}

a {
  @apply underline transform hover:-translate-y-1 transition-transform;
}

a:visited {
  @apply opacity-90;
}

a:active {
  color: var(--active-color);
}

a[href="#"] {
  @apply pointer-events-none cursor-not-allowed opacity-40;
}

/* Remove the anchor link that Vitepress adds */
.hide-header-anchor a {
  display: none;
  visibility: hidden;
}
